{% extends 'baseBack.html.twig' %}
{% block title %}Gestion Categorie service{% endblock %}
{% block contentHeader %} Ajouter Catégorie {% endblock %}
{%  block contentMain  %}
    <style>
        .card-primary:not(.card-outline)>.card-header{
            background-color: #00cfa1;
        }
    </style>
    {{ form_start(f) }}
    <div class="card-primary " >
        <div class="card-header">
            <h3 class="card-title">ajouter catégorie</h3>


        </div>
        <div class="card-body">
            <div class="form-group">
                {{ form_label(f.libelle,"Libélle") }}
                {{ form_widget(f.libelle,{'attr':{'id':"libelle",'class':"form-control"}}) }}
                {{ form_errors(f.libelle) }}
            </div>
            <div class="form-group">
                {{ form_label(f.description,"Déscription") }}
                {{ form_widget(f.description,{'attr':{'id':"description",'class':"form-control"}}) }}
                {{ form_errors(f.description) }}

            </div>



        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-secondary float-lg-right">ajouter</button>
        </div>
    </div>
    {{ form_end(f) }}

{% endblock %}
{#
{% block js %}

    <script src={{ asset("distAdmin/plugins/jquery-validation/jquery.validate.min.js")}}></script>
    <script src={{ asset("distAdmin/plugins/jquery-validation/additional-methods.min.js")}}></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                alert( "Form successful submitted!" );
            }
        });
        $('#quickForm').validate({
            rules: {
                libelle: {
                    required: true
                },
                description: {
                    required: true,
                    minlength: 20
                }
            },
            messages: {
                libelle: {
                    required: "Please enter a libelle address"
                },
                description: {
                    required: "Please provide a password",
                    minlength: "Your description must be at least 20 characters long"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>
{% endblock %}#}
